<main>
  <%= form_tag do |f| %>

  <% end %>

  <ul class="videos">
    <% @videos.each do |video| %>
    <li>
      <strong><%= video.title %></strong>
      <br>
      <iframe width="400" height="220" src="https://www.youtube.com/embed/<%= video.youtube_id %>" frameborder="0" allowfullscreen></iframe>
    </li>
    <% end %>
  </ul>
</main>
